# Numpy for beginners
> From Alex Lu with Love
- toc: true
- title: Intro to Pandas
- author: Alex Lu
- badges: true
- comments: true
- categories: [jupyter,interests]

## **Pandas**

I will use a dataset of [Fortune 1000](https://www.kaggle.com/winston56/fortune-500-data-2021) from Kaggle datasets to explore pandas library here.

The Fortune 1000 dataset is from the Fortune website. It contains U.S. company data for the year 2021. The dataset is 1000 rows and 18 columns.

Features:
* Company - values are the name of the company
Rank - The 2021 rank established by Fortune (1-1000)
* Rank Change - The change in the rank from 2020 to 2021. There is only a rank change listed if the company is currently in the top 500 and was previously in the top 500.
* Revenue - Revenue of each company in millions. This is the criteria used to rank each company.
* Profit - Profit of each company in millions.
Num. of Employees - The number of employees each company employs.
* Sector - The sector of the market the company operates in.
* City - The city where the company's headquarters is located.
* State - The state where the company's headquarters is located
* Newcomer - Indicates whether or not the company is new to the top Fortune 500 ("yes" or "no"). No value will be listed for companies outside of the top 500.
* CEO Founder - Indicates whether the CEO of the company is also the founder ("yes" or "no").
* CEO Woman - Indicates whether the CEO of the company is a woman ("yes" or "no").
* Profitable - Indicates whether the company is profitable or not ("yes" or "no").
* Prev. Rank - The 2020 rank of the company, as established by Fortune. There will only be previous rank data for the top 500 companies.
* CEO - The name of the CEO of the company
* Website - The url of the company website
* Ticker - The stock ticker symbol of public companies. Some rows will have empty values because the company is a private corporation.
* Market Cap - The market cap (or value) of the company in millions. Some rows will have empty values because the company is private. Market valuations were determined on January 20, 2021.

In [ ]:
# download data file into Google Colab server
!wget -nc /content/ https://datasets21.s3-us-west-1.amazonaws.com/Fortune_1000.csv

/content/: Scheme missing.
--2022-05-28 20:30:03--  https://datasets21.s3-us-west-1.amazonaws.com/Fortune_1000.csv
Resolving datasets21.s3-us-west-1.amazonaws.com (datasets21.s3-us-west-1.amazonaws.com)... 52.219.192.90
Connecting to datasets21.s3-us-west-1.amazonaws.com (datasets21.s3-us-west-1.amazonaws.com)|52.219.192.90|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 138487 (135K) [text/csv]
Saving to: ‘Fortune_1000.csv’

Fortune_1000.csv    100%[===================>] 135.24K  --.-KB/s    in 0.07s

2022-05-28 20:30:03 (2.02 MB/s) - ‘Fortune_1000.csv’ saved [138487/138487]

FINISHED --2022-05-28 20:30:03--
Total wall clock time: 0.3s
Downloaded: 1 files, 135K in 0.07s (2.02 MB/s)

In [ ]:
# import data by pandas.read_csv
import pandas as pd
f1000 = pd.read_csv('Fortune_1000.csv',index_col=0)

In [ ]:
# explore the dataset
f1000.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Walmart to Liberty Oilfield Services
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rank               1000 non-null   int64
 1   rank_change        1000 non-null   float64
 2   revenue            1000 non-null   float64
 3   profit             998 non-null    float64
 4   num. of employees  1000 non-null   int64
 5   sector             1000 non-null   object
 6   city               1000 non-null   object
 7   state              1000 non-null   object
 8   newcomer           500 non-null    object
 9   ceo_founder        1000 non-null   object
 10  ceo_woman          1000 non-null   object
 11  profitable         1000 non-null   object
 12  prev_rank          1000 non-null   object
 13  CEO                992 non-null    object
 14  Website            1000 non-null   object
 15  Ticker             938 non-null    object
 16  Market Cap         960 non-null    object
dtypes: float64(3), int64(2), object(12)
memory usage: 140.6+ KB

In [ ]:
f1000.head(3)

             rank  rank_change  ...  Ticker  Market Cap
company                         ...
Walmart         1          0.0  ...     WMT      411690
Amazon          2          3.0  ...    AMZN     1637405
Exxon Mobil     3         -1.0  ...     XOM      177923

[3 rows x 17 columns]

### Select data using those labels

Because the axes in pandas have labels, I can select data using those labels — unlike in NumPy, where I needed to know the exact index location. To do this, I can use the `DataFrame.loc[]` attribute. The syntax for `DataFrame.loc[]` is:

`df.loc[row_label, column_label]`

#### Select Single Column

In [ ]:
companies = f1000.loc[:,'company']
print(companies)
print(type(f1000))
print(type(companies))

#### Series object

In [ ]:
#print(f1000['revenue'])
print(f1000.loc[:,'revenue'])

print(f1000.loc['Apple','revenue'])

#### Select multiple columns
* List of columns
* Slice of columns

In [ ]:
#f1000.loc[:,['rank','revenue', 'sector']]
f1000[['rank','revenue']]

#f1000.loc[:,'rank':'sector']

#### Select rows by labels

In [ ]:
#f1000.loc['Walmart']
f1000.loc[['Amazon', 'Apple']]
#f1000.loc['Amazon':'Apple']

### Series.value_counts() method
`Series.value_counts()` method. This method displays each unique non-null value in a column and their counts in order.

In [ ]:
sector_value_counts = f1000['sector'].value_counts(ascending=True)
print(sector_value_counts)

In [ ]:
f1000['sector'].value_counts().loc['Technology']

In [ ]:
# find out the biggest increase and biggest decrease in rank
#f1000['rank_change'].max()
#f1000['rank_change'].min()
f1000['rank_change'].describe()

In [ ]:
f1000['rank_change'].value_counts()

 0.0     544
-1.0      22
-2.0      18
 2.0      16
 4.0      15
        ...
 59.0      1
 91.0      1
-30.0      1
 28.0      1
 98.0      1
Name: rank_change, Length: 118, dtype: int64

*Exercise*:

List out the numbers of companies in the Fortune 1000 of the top 3 states

In [ ]:
top_3_states = f1000['state'].value_counts().head(3)
print(top_3_states)

CA    121
TX     95
NY     89
Name: state, dtype: int64

*Exercise:*

find the company that employs the most people in California in the dataset.

I can use the `DataFrame.sort_values()` method to sort the rows on the employees column

In [ ]:
f1000[f1000['state']=='CA'].sort_values('num. of employees',ascending=False).head(1)

             rank  rank_change  ...  Ticker  Market Cap
company                         ...
Wells Fargo    30         -1.0  ...     WFC       99941

[1 rows x 17 columns]

*Exercise:*

find the unique list of states in the dataset

To identify the unique states, I can use the `Series.unique()` method. This method returns an array of unique values from any series.

In [ ]:
states = f1000['state'].unique()
print(states)

['AR' 'WA' 'TX' 'CA' 'RI' 'NE' 'MN' 'PA' 'MI' 'CT' 'OH' 'NY' 'IL' 'DC'
 'NC' 'GA' 'IN' 'MA' 'NJ' 'VA' 'MO' 'TN' 'KY' 'ID' 'MD' 'OR' 'FL' 'WI'
 'CO' 'OK' 'LA' 'DE' 'AZ' 'IA' 'NV' 'KS' 'AL' 'SC' 'ND' 'NH' 'MS' 'PR'
 'UT' 'HI' 'VT' 'ME']

***Practice:***

I'm going to produce the following dictionary of the top employer in each state:

1. create an empty dictionary, `top_employer_by_state` to store the results of the exercise.

2. Use the `Series.unique()` method to create an array of unique values from the state column

3. Use a for loop to iterate over the array unique states. In each iteration:
* Select only the rows that have a state name equal to the current iteration.
* Use `DataFrame.sort_values()` to sort those rows by the `num. of employees` column in descending order.
* Select the first row from the sorted dataframe and convert the Dataframe into a series using `DataFrame.squeeze()`
* Extract the company name from the index label company by `Series.name`.
* Assign the results to the top_employer_by_state dictionary, using the state name as the key, and the company name as the value.

In [ ]:
top_exmployer_by_state = {}
states = f1000['state'].unique()

for state in states:
  selected_companies = f1000[f1000['state']==state]
  top_exmployer_by_state[state] = selected_companies.sort_values('num. of employees', ascending=False).head(1).squeeze().name

In [ ]:
for key in top_exmployer_by_state:
  print(key, ' : ', top_exmployer_by_state[key])

AR  :  Walmart
WA  :  Amazon
TX  :  Yum China Holdings
CA  :  Wells Fargo
RI  :  CVS Health
NE  :  Berkshire Hathaway
MN  :  Target
PA  :  Aramark
MI  :  Ford Motor
CT  :  XPO Logistics
OH  :  Kroger
NY  :  IBM
IL  :  Walgreens Boots Alliance
DC  :  Danaher
NC  :  Lowe&#8217;s
GA  :  Home Depot
IN  :  Anthem
MA  :  TJX
NJ  :  Cognizant Technology Solutions
VA  :  Hilton Worldwide Holdings
MO  :  Emerson Electric
TN  :  FedEx
KY  :  Humana
ID  :  Albertsons
MD  :  Marriott International
OR  :  Nike
FL  :  Publix Super Markets
WI  :  Kohl&#8217;s
CO  :  VF
OK  :  Helmerich & Payne
LA  :  Lumen Technologies
DE  :  DuPont
AZ  :  Republic Services
IA  :  Casey&#8217;s General Stores
NV  :  MGM Resorts International
KS  :  Yellow
AL  :  Encompass Health
SC  :  Sonoco Products
ND  :  MDU Resources Group
NH  :  PC Connection
MS  :  Sanderson Farms
PR  :  Popular
UT  :  Nu Skin Enterprises
HI  :  Hawaiian Holdings
VT  :  NLV Financial
ME  :  IDEXX Laboratories

## Reference

[pandas API reference](https://pandas.pydata.org/docs/reference/index.html)

[pandas vs. NumPy](https://www.javatpoint.com/pandas-vs-numpy#:~:text=The%20Pandas%20module%20mainly%20works,works%20with%20the%20numerical%20data.&text=NumPy%20library%20provides%20objects%20for,memory%20as%20compared%20to%20Pandas.)